E3/api_flask/mlflow-artifacts
E3/api_flask/tests/__pycache__
E4/API/~$scription technique.docx
E4/Streamlit/model/__pycache__
E4/Streamlit/page/__pycache__
E4/Streamlit/pages/.ipynb_checkpoints
E4/Streamlit/run
E4/Streamlit/Videos_Test
E4/Streamlit/output_video_D02_20220602013531.mp4
E4/Streamlit/videos
E4/API/tests/__pycache__
E3/fichier_final.pickle
E4/Streamlit/model/.ipynb_checkpoints
E5/mon_application.log
E5/demon.log
lusignan_14-01_20-01
E3/api_flask/__pycache__
E4/API/__pycache__
